<%%= heading_with_title "<%= singular_table_name.camelize %>" %>
<%
  key = nil
  key = 'title' if attributes.any? {|x| x.name == 'title'}
  key = 'name'  if attributes.any? {|x| x.name == 'name'}
%>
<ul id="<%= plural_table_name %>-list">
<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
<% if ['title', 'name'].include?(key) -%>
  <li><%%= link_to <%= singular_table_name %>.<%= key %>, <%= singular_table_name %> %></li>
<% else -%>
  <li><%%= link_to 'Show', <%= singular_table_name %> %></li>
<% end -%>
<%% end %>
</ul>

<%%= private_area true do %>
  <ul>
    <li><%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path %></li>
  </ul>
<%% end %>
