<%
  key = nil
  key = 'title' if attributes.any? {|x| x.name == 'title'}
  key = 'name'  if attributes.any? {|x| x.name == 'name'}
-%>
<div id="<%= singular_table_name %>">
<% if ['title', 'name'].include?(key) -%>
  <%%= heading_with_title @<%= singular_table_name %>.<%= key %> %>
<% else -%>
  <%%= heading_with_title "<%= singular_table_name.camelize %>" %>
<% end -%>
  
  <dl>
  <% if attributes.any? -%>
    <% attributes.each do |attribute| %>
    <dt><%= attribute.human_name %>:</dt>
    <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
    <% end -%>
  <% else %>
    <dt>Attribute Name:</dt>
    <dd>Attribute Value</dd>
  <% end %>  
  </dl>
  
</div>

<%%= admin_area do %>
  <ul>
    <li><%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %></li>
    <li><%%= link_to 'Back', <%= index_helper %>_path %></li>
  </ul>
<%% end %>