<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= csrf_meta_tag %>

  <title>Welcome to Ruby on Rails!</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <%= stylesheet_link_tag 'style', :media => 'all' %>
  <%= stylesheet_link_tag 'playmo/playmo.scss' %>
  <%= stylesheet_link_tag 'playmo/article.scss' %>
  <%= stylesheet_link_tag 'layout.scss' %>
  <%= stylesheet_link_tag 'screen.scss' %>
  <%= stylesheet_link_tag 'print.scss', :media => 'print' %>
  
  <%= javascript_include_tag '/javascripts/lib/modernizr-1.6.min.js' %>
</head>
<body>

  <div id="container">
    <header>
      <h1>Welcome to Ruby on Rails!</h1>
    </header>

    <div id="main">

      <article class="article">
	<%= yield %>
      </article>

      <aside>
        Toolbar
      </aside>

    </div>

    <footer></footer>
  </div>

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js' %>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/javascripts/lib/jquery-1.4.2.js"%3E%3C/script%3E'))</script>

<!-- scripts concatenated and minified via ant build script-->
<%= javascript_include_tag 'rails', 'plugins', 'application' %>
<!-- end concatenated and minified scripts-->

<!--[if lt IE 7 ]>
  <%= javascript_include_tag '/javascripts/lib/dd_belatedpng.js' %>
  <script>DD_belatedPNG.fix('img, .png_bg');</script>
<![endif]-->

</body>
</html>
